@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}

* {
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.489); 
  border-radius: 10px;}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
}
body {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: #4A64A0 white;   /* scroll thumb and track */ 
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
​

html {
  font-size: 16px;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 640px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 8px;
  }
}

.Name {
  width: 50vh;
  position: fixed;
  font-size: 16px;
  letter-spacing: 5px;
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-100px);
}

.mm {
  position: relative;
}
.ss {
  position: absolute;
  top: -2rem;
  right: -4.25rem;
  width: 19rem;
  height: 17rem;
}
.trans{
  transition: 0.3s ease-out
}
.trans:hover {
  transform: translate(50px, 0);
}

.para {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
}
.contact1{
  position: relative;
  overflow: visible;
}
.contact2{
  position: absolute;
  width: 40rem;
  height: 30rem;
  right:-3rem

}

.project{
  position: relative;
}

.project::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left :0;
  z-index: 100;
  
  background-color: #000000;
}

.model{
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.cross{
  position: absolute;
  right: 0;
}


.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  transition: 0.3s ease-in-out;
}
.modal.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal__content {
  position: relative;
  transition: inherit;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100px);
}
.modal.active .modal__content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}
.nn{
bottom: 0;
}